.Navbar {
  height: 60px;
  position: relative;
}
.Menu{
  display: inline-block;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.MenuIcon {
  display: none;
}
.NavElements {

}

.NavElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.NavElements ul li:not(:last-child) {
  margin-right: 60px;
}

.NavElements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.NavElements ul a.active {
  color: #ffffff81;
  font-weight: 500;
  position: relative;
}

.NavElements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b3b3b;
}

@media (max-width: 768px) {
  .NavElements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .MenuIcon {
    display: block;
    cursor: pointer;
  }

  .NavElements {
    position: absolute;
    right: 0;
    top: 80px;
    width: 0px;
    height: calc(100vh - 80px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .NavElements.active {
    width: 270px;
  }

  .NavElements ul {
    display: flex;
    flex-direction: column;
  }

  .NavElements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}