@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
body {

  font-family: 'Open Sans', sans-serif;
}
Section {
  min-width: 960;
  color: #000000;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.Content{
  min-height: 100vh;
  /* padding: 0 0 142px; */
  position: relative;
  width: 100%; /* 1920px / 1920px = 100% */
  background: url(/public/fon.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Header{
  display: flex;
  height: 100px;
  width: 100vw;
  /* padding: 0 40px; */
  box-shadow: 0 0 1px 0 rgb(255, 255, 255) inset;
  background: rgba(0, 0, 0, 0.2);
}

.LogoImage{
  margin: 26px 0 0 20px;
}
/* .Logo{
  margin: 0 40px;
  height: 100px;
  width: 310px;
  box-shadow: 0 -1px 1px 0 rgb(255, 255, 255) ;

} */
.Logo {
  display: inline-block;
  --size: 7px;
  margin: 0 40px;
  height: 100px;
  width: 310px;
  box-shadow: 0 -1px 1px 0 rgb(255, 255, 255) ;
  background:
    linear-gradient(rgb(255, 255, 255) var(--size), transparent 0 calc(100% - var(--size)), rgb(255, 255, 255) 0) 0 0 / 1px 100%,
    linear-gradient(rgb(255, 255, 255) var(--size), transparent 0 calc(100% - var(--size)), rgb(255, 255, 255) 0) 100% 0 / 1px 100%,
    linear-gradient(to right, rgb(255, 255, 255) var(--size), transparent 0 calc(100% - var(--size)), rgb(255, 255, 255) 0) 0 0 / 100% 1px,
    linear-gradient(to right, rgb(255, 255, 255) var(--size), transparent 0 calc(100% - var(--size)), rgb(255, 255, 255) 0) 0 100% / 100% 1px
    ;
  background-repeat: no-repeat;
}

.Gradient{
  font-family: 'Open Sans', sans-serif;
  font-size: 3.6rem;
  font-weight: 600;

}

.Gradient2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.Text{
  position: absolute;
  top: 200px;
  left: 170px;
  color: transparent;  
  -webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(to right, rgb(255, 255, 255), #ff3f04);
}